<h1>HOME</h1>
<P>Bienvenido a mi e-commerce</P>
<a href="/vista/products?limit=2">Ver Productos</a><br>
<a href="/vista/realTimeProducts">Administrar Productos</a><br>
<a href="/vista/users">Administrar Usuarios</a><br>
<a href="/logout">Log Out</a>
