<div>

    <h1>LISTADO DE PRODUCTOS</h1>
    <div id="div-products" style=" height: 300px; border: 1px solid #000; margin-bottom: 20px;  padding: 10px position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: auto; overflow-y: scroll;
scroll-margin-bottom: auto;">

        loading...
    </div>

    

    

    <div style="border: 1px solid blue; padding: 10px">
        <h3>Agrega un nuevo producto</h3>

        <div style="display: flex;">
            <div style="margin: 2px;">
                <p>Nombre</p>
                <input type="text" id="input-nombre" placeholder="Ingrese el nombre">
                <hr />
            </div>

            <div style="margin: 2px;">
                <p>Descripcion</p>
                <input type="text" id="input-description" placeholder="Ingrese la descripcion">
                <hr />
            </div>

            <div style="margin: 2px;">
                <p>Precio</p>
                <input type="text" id="input-price" placeholder="Ingrese el precio">
                <hr />
            </div>

            <div style="margin: 2px;">
                <p>Codigo</p>
                <input type="text" id="input-code" placeholder="Ingrese el codigo">
                <hr />
            </div>

            <div style="margin: 2px;">
                <p>Stock</p>
                <input type="text" id="input-stock" placeholder="Ingrese el stock">
                <hr />
            </div>

            <div style="margin: 2px;">
                <p>Categoria</p>
                <input type="text" id="input-category" placeholder="Ingrese la categoria">
                <hr />
            </div>
        </div>
        <button id="btn-agregar" onclick="validarCampos()">Agregar</button>
    </div>

    


</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products-socket.js"></script>